
@using LondonDegree_Web.Models

@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a class="link-dark" href="@Url.Action("ForgotPassword","Account")">Forgot password</a></li>
            <li class="breadcrumb-item active">Forgot password confirmation</li>
        </ol>
    </div>
</div>

<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-12">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title"><i class="fa fa-hand-o-right">&nbsp;Forgot password</i></h1>
                <div class="separator-2"></div>
                <!-- page-title end -->
                <p>Please check your email to reset your password.</p>
            </div>
            <!-- main end -->

        </div>
    </div>
</section>