@using LondonDegree_Web.Models

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="@Url.Action("Index","Dashboard")">Home</a></li>
            <li class="breadcrumb-item active"> Event (Search)</li>
        </ol>
    </div>
</div>

<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-search pr-2"></i>Search</div>
                        <div class="panel-body">
                            <form id="searchForm">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label>Title</label>
                                            <input id="Event_Title_s" name="Event_Title_s" type="text" class="form-control">
                                            <i class="fa fa-edit form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label>Description</label>
                                            <input id="Event_Description_s" name="Event_Description_s" type="text" class="form-control">
                                            <i class="fa fa-edit form-control-feedback"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label>Event(Start Date)</label>
                                            <input id="Event_Start_Date_d" name="Event_Start_Date_d" type="text" class="form-control">
                                            <i class="fa fa-calendar form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label>Event(End Date)</label>
                                            <input id="Event_End_Date_d" name="Event_End_Date_d" type="text" class="form-control">
                                            <i class="fa fa-calendar form-control-feedback"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label>Location</label>
                                            <input id="Event_Location_s" name="Event_Location_s" type="text" class="form-control">
                                            <i class="fa fa-home form-control-feedback"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label>Target Audience</label>
                                            <input id="Event_TargetAudience_s" name="Event_TargetAudience_s" type="text" class="form-control">
                                            <i class="fa fa-user form-control-feedback"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-default btn-sm btn-animated">Search<i class="pl-1 fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="clear-both"></div>

                            <div id="Data">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*
            <div class="row">
                <div class="col-lg-12">
                    <div id="ajaxloader">
                        <img src='@Url.Content("~/Content/images/ui-anim_basic_16x16.gif")' />
                    </div>
                    <div id="Data">
                    </div>
                </div>
            </div>

        *@

    </div>
</section>


<script>

    $(function () {
        $("#Event_Start_Date_d").datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });
        $("#Event_End_Date_d").datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });
    });

    $(function () {
        //var targetDataGrid;

        $("#searchForm").submit(function (e) {
            e.preventDefault();
            var dataToBeSent = $("#searchForm").serialize();
            var actionUrl = '@Url.Action("SearchEvents", "Administration")';
            $('#ajaxloader').show();
            $.post(actionUrl, dataToBeSent, function (data, status) {
                $('#ajaxloader').hide();
                displayData(data)
            }, "json");
            $("#Data").show();
            $('html, body').animate({
                scrollTop: $("#Data").offset().top - 10
            }, 'slow');
        });

        $("input").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#searchForm").submit();
            }
        });

    });

</script>




<script>
    function displayData(data) {
            $('#Data').html('<table class="table table-colored table-striped table-bordered" style="width:100%" id="personEventSearchResults"></table>');


        $('#personEventSearchResults').DataTable({
            "responsive": true,
            "order": [1, "asc"],
            "data": data,
            "columns": [
                { "data": "PK_Event_ID_gu", title: "Event ID", "visible": false },
                {
                    "data": "Event_Title_s", title: "Title",
                    "render": function (data, type, full, meta) {
                        return '<a href=\'@Url.Action("Index_Event", "Administration")?eventid=' + full.PK_Event_ID_gu + '\'>' + data + '</a>'
                    }
                },
                {
                    "data": "Event_Date_d", title: "Event Date",
                    "render": function (data, type, full, meta) {
                        var dateval = moment(data).format("YYYY-MM-DD");
                        if (dateval === '0001-01-01') {
                            return '';
                        } else {
                            return dateval;
                        }
                    }
                },
                {
                    "data": "Event_Location_s", title: "Location"
                }
            ]

        });
        }


    $(document).ready(function () {
        $("#DisplayWarning").empty();
        $("#DisplayWarning").hide();
        $('#ajaxloader').hide();
        $("#Data").hide();
        //clear_form_elements("searchForm");
    });



</script>